# Sensitive files
CMRITATSYS.pem
serviceAccountKey.json
.env

# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/

# Encodings file
EncodeFile.p

# IDE settings
.vscode/

# Image files (if you don't want to track changes to images)
Images/*.jpg
Test/*.jpeg

# Specific files you might not want to track
tempCodeRunnerFile.py